<a href="https://colab.research.google.com/github/shrveel/PMASDS/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PMASDS_data_science_in_python**

---

assignment 01
Course: **WMASDS04**-Introduction to Data Science with Python

Instructor: **Farhana Afrin Duty**, Department of Statistics, JU

**Variables**

---

In [ ]:
# a_input fun()

x = float(input("type a num : "))

type a num : 5.5

In [ ]:
# b_type of x

type(x)

float

In [ ]:
# c_converting to another type

y = int(x)
print(y)
type(y)   #explicit typecasting

5

int

In [ ]:
#x = 10.10 #implicit typecasting
#type(x)

In [ ]:
# d_conversion into float

z = float(y)
print(z)
type(z)

5.0

float

In [ ]:
# e_display data type

type(x)

float

In [ ]:
type(y)

int

In [ ]:
type(z)

float

**Strings**

---

In [ ]:
# a_ calculating the length of string

str = "I Love JU PMASDS"

len(str)

16

In [ ]:
# b_count the number of string

x = str.count("I Love JU PMASDS")
print(x)

1

In [ ]:
# c_indexing and slicing

print(str[7:])   
print(str[0:6])
print(str[7:9])

JU PMASDS
I Love
JU

In [ ]:
# d_remove the odd string

print(str)

for i in range(len(str)):
  if(i%2 == 0):
    new_str = new_str + str[i]

print(new_str)

I Love JU PMASDS
ILv UPADILv UPAD

In [ ]:
# e_taking input & manipulate in UPPER LOWER

txt = input("type anything here :  ")
print(txt)

print(txt.upper())

print(txt.lower())

type anything here :  gvosflvuVUVYUVUOV
gvosflvuVUVYUVUOV
GVOSFLVUVUVYUVUOV
gvosflvuvuvyuvuov

In [ ]:
# f_sorting a string using tuple

str = "2124412"

sorted_str = sorted(str)

print(sorted_str)

['1', '1', '2', '2', '2', '4', '4']

In [ ]:
# g_reverse a string/slicing a string

str = "JU HAS A BEAUTIFUL CAMPUS"

print(str)

print(str[9:])

print(str[::-1])

JU HAS A BEAUTIFUL CAMPUS
BEAUTIFUL CAMPUS
SUPMAC LUFITUAEB A SAH UJ

In [ ]:
# h_converting a string into a list

def convert(str):
 new_list= list(str.split(" "))
 return new_list

str = "JU has a beautiful campus"
print(convert(str))

['JU', 'has', 'a', 'beautiful', 'campus']

**Lists**

---

In [ ]:
# a_sum all the elements in the list

lst = [1, 3, 6, -5]

def sum_list(lst):
  sum = 0
  for i in lst:
    sum += i
  return sum

print(sum_list(lst))

5

In [ ]:
# b_largest/smallest using max()/min() fun

lst1 = []
for i in range(5):
  lst1.append(int(input("type numbers ")))

print("max value is ", max(lst1))
print("min value is ", min(lst1))

type numbers 2
type numbers 3
type numbers 6
type numbers 0
type numbers 1
max value is  6
min value is  0

In [ ]:
# c_list after romoving even numbers

lst = [2, 5, 7, 12, 16, 21, 39, 55, 100]
new_list = []
for i in lst:
  if(i%2 != 0):
    print(i)          
    new_list.append(i)    #optional
  else:
    pass
print(new_list)

5
7
21
39
55
[5, 7, 21, 39, 55]

In [ ]:
# d_selectiong odd numbers

lst = [2, 5, 7, 12, 16, 21, 39, 55, 100]
new_list = []
for i in lst:
  if(i%2 != 0):
    print(i)          #optional
    new_list.append(i)
  else:
    pass
print(new_list)

5
7
21
39
55
[5, 7, 21, 39, 55]

In [ ]:
# e_converting a list into a string

lst = ['benzema', "vinicius", 'valverde', 'alaba']
test_str = ' '            #extra string as container
str = test_str.join(lst)  #str = " ".join(lst)

print(str)

benzema vinicius valverde alaba

In [ ]:
# f_index of an item in a list

print(lst)

print(lst.index('benzema'))

['benzema', 'vinicius', 'valverde', 'alaba']
0

In [ ]:
# g_adding two lists

print(lst)
lst_2nd = ['real madrid', 'mancity', 'chelsea', 'arsenal']
print(lst_2nd)

final_lst = lst + lst_2nd
print(final_lst)

['benzema', 'vinicius', 'valverde', 'alaba']
['real madrid', 'mancity', 'chelsea', 'arsenal']
['benzema', 'vinicius', 'valverde', 'alaba', 'real madrid', 'mancity', 'chelsea', 'arsenal']

In [ ]:
# h_unique list

lst_1 = [10, 10, 20, 20, 20, 30, 40, 40, 50, 50, 50]

def unique(lst_1):

  unique_list = []          #container

  for x in lst_1:
    if x not in unique_list:
      unique_list.append(x)
      print(unique_list)

  for x in unique_list:
    print (x)
    
#driver code
print("the unique list is : ") 
unique(lst_1)

the unique list is :
[10]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
10
20
30
40
50

In [ ]:
# i_frequency greater than k

test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

k = 2

res = []

for i in test_list:
  freq = test_list.count(i)

  if freq > k and i not in res:
    res.append(i)

print("required elements : ", (res))

required elements :  [4, 3]

In [ ]:
# j_reversing a sting list

test_list = ["life", "is", "too", "short"]
 
# printing original list
print ("The original list is : ", (test_list))
 
# Reverse All Strings in String List
res = [i[::-1] for i in test_list]
 
# printing result
print ("The reversed string list is : ", (res))

The original list is :  ['life', 'is', 'too', 'short']
The reversed string list is :  ['efil', 'si', 'oot', 'trohs']

**Dictionary**

---

In [ ]:
# a_creating a dictionary

#creating new dic
my_dict = {
    'names': ['mango', 'lemon'], 
    'color': ['yellow', 'green'], 
    'taste': ['sweet', 'sour']
    }

#print using get() fun
print(my_dict)
print(my_dict.get('names'))
print(my_dict.get('color'))
print(my_dict.get('taste'))

#my_dict['names'] = 'apple'       #removing previous value
#print(my_dict)

#adding new value
my_dict['names'].append('apple')  #without removing previous value
print(my_dict)


# b_adding a new key

my_dict['availability'] = ['polashi bazar', 'kawran bazar'] 
print(my_dict)

{'names': ['mango', 'lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
['mango', 'lemon']
['yellow', 'green']
['sweet', 'sour']
{'names': ['mango', 'lemon', 'apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
{'names': ['mango', 'lemon', 'apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour'], 'availability': ['polashi bazar', 'kawran bazar']}

In [ ]:
# c_key exist or not


#user defied fun()
def check_key(my_dict, key):
  if key in my_dict.keys():
    print("present in dictionary. operation successful")
  else:
    print("not present in the dictionary. operation denied")

#driver fun()
key = 'color'
check_key(my_dict, key)

key = 'price'
check_key(my_dict, key)

present in dictionary. operation successful
not present in the dictionary. operation denied

In [ ]:
# d_accessing by index num

print(list(my_dict)[0])
print(list(my_dict)[1])
print(list(my_dict)[2])
print(list(my_dict)[3])

names
color
taste
availability

In [ ]:
# e_dictionary using loop

print("lists of keys: ")

for keys in my_dict.keys():
  print(keys)


print("lists of values: ")

for values in my_dict.values():
  print(values)

lists of keys:
names
color
taste
availability
lists of values:
['mango', 'lemon', 'apple']
['yellow', 'green']
['sweet', 'sour']
['polashi bazar', 'kawran bazar']

In [ ]:
# f_keys & the values is doubled of keys

new_dict = dict()
for i in range(1, 10):
  new_dict[i] = i**2
print(new_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# g_extracting keys into a new dictionary

print(my_dict)

keys = ['names', 'color', 'taste']

new_dict = {i : my_dict[i] for i in keys}

print(new_dict)

{'names': ['mango', 'lemon', 'apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour'], 'availability': ['polashi bazar', 'kawran bazar']}
{'names': ['mango', 'lemon', 'apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

In [ ]:
# h_rename keys in dictionary

print(new_dict)

new_dict['new_name'] = new_dict.pop('names') 

print(new_dict)         

#       ??? why in the last ??? why not in previous order?

{'names': ['mango', 'lemon', 'apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
{'color': ['yellow', 'green'], 'taste': ['sweet', 'sour'], 'new_name': ['mango', 'lemon', 'apple']}

In [ ]:
# i_print only keys

print(list(new_dict)[0])
print(list(new_dict)[1])
print(list(new_dict)[2])

# or

for values in new_dict.keys():
  print(keys)

color
taste
new_name
['names', 'color', 'taste']
['names', 'color', 'taste']
['names', 'color', 'taste']

In [ ]:
# j_print only values

for values in new_dict.values():
  print(values)

['yellow', 'green']
['sweet', 'sour']
['mango', 'lemon', 'apple']

**Loops**

---

In [ ]:
# a_numbers using while loop

num = 10
i = 0

while i <= num:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# b_multiplication table

num = 12

for i in range (1,10):
  print(num, 'X', i, "=", num*i)


  #         ??? why not *10 ???

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

In [ ]:
# c_numbers using loop

lst = [2, 4, 6, 9, 5, 3, 11, 17, 23, 27, 30]

for i in lst:
  print(i)

2
4
6
9
5
3
11
17
23
27
30

In [ ]:
# d_reverse list using loop

num_list=[1,2,3,4,5]
# new reversed list using as a container
new_list=[]          
for i in range(len(num_list)):
    new_list.insert(i,num_list[-1])
    num_list.pop(-1)
    #see how loops are iterating
    print(new_list)       


print("so the final list is : ", new_list)

[5]
[5, 4]
[5, 4, 3]
[5, 4, 3, 2]
[5, 4, 3, 2, 1]
so the final list is :  [5, 4, 3, 2, 1]

In [ ]:
# e_reverse order using loop

for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# f_factorial of given number using recursion fun()

num = int(input("Enter a number: "))
Fact = 1
for i in range(1, num + 1):
    Fact = Fact * i
print("The Factorial of",num,"is",Fact)

Enter a number: 7
The Factorial of 7 is 5040

In [ ]:
# g_elements off odd index list

num_list = [2, 5, 8, 9, 11, 12, 17, 20]

for i in range(1, len(num_list), 2):      #     ??? why is this condition ???

  print(num_list[i])

5
9
12
20

In [ ]:
# h_cube root using loop

regno = int(input('enter the limit '))

i = 1

while i <= regno:
  cube = 0
  cube = i * i * i

  print("cube of %d is : %d" %(i, cube))

  i = i + 1

enter the limit 5
cube of 1 is : 1
cube of 2 is : 8
cube of 3 is : 27
cube of 4 is : 64
cube of 5 is : 125

**User Defined Function**

---



---

In [ ]:
# returning my unique class ID using user defined function

nums = [2, 0, 2, 3, 1, 0, 4, 6]

#num_list = [int(i) for i in nums.split(',')]

def uniq_num(nums):
  uniq = []

  for i in nums:
    if i in uniq:                 # if i not in unique:
      continue
    else:
      uniq.append(i)
  
  return uniq

print(uniq_num(nums))

[2, 0, 3, 1, 4, 6]